html,
body {
    overflow-x: hidden;
    height: 100%;
}

#app {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--grey-800);
    min-height: 100vh;
}

*,
*::before,
*::after {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;

    --fs-sm: 12px;
    --fs-sm-lh: 18px;

    --fs: 16px;
    --fs-lh: 27px;

    --fs-md: 19px;
    --fs-md-lh: 30px;

    --fs-lg: 36px;
    --fs-lg-lh: 52px;

    --fs-xl: 44px;
    --fs-xl-lh: 60px;

    --fs-h6: 13px;
    --fs-h6-lh: 22px;

    --fs-h5: 15px;
    --fs-h5-lh: 24px;

    --fs-h4: 18px;
    --fs-h4-lh: 29px;

    --fs-h3: 24px;
    --fs-h3-lh: 36px;

    --fs-h2: 34px;
    --fs-h2-lh: 50px;

    --fs-h1: 44px;
    --fs-h1-lh: 60px;

    --black: #000;
    --white: #fff;

    --black-hover: var(--grey-900);
    --white-hover: var(--grey-300);

    --grey-100: #f2f2f2;
    --grey-200: #d9d9d9;
    --grey-300: #bfbfbf;
    --grey-400: #8c8c8c;
    --grey-500: #737373;
    --grey-600: #595959;
    --grey-700: #404040;
    --grey-800: #262626;
    --grey-900: #1a1a1a;
    --grey-1000: #131313;

    --primary-100: #e6f3fe;
    --primary-200: #b4dafd;
    --primary-300: #82c1fc;
    --primary-400: #0682f9;
    --primary-500: #0575e0;
    --primary-600: #045bae;
    --primary-700: #03417d;
    --primary-800: #02274b;
    --primary-900: #011a32;

    --error-100: #f9ecec;
    --error-200: #ecc6c6;
    --error-300: #df9fa0;
    --error-400: #ac3a3a;
    --error-500: #bf4040;
    --error-600: #862d2d;
    --error-700: #602020;
    --error-800: #391313;
    --error-900: #260d0d;

    --primary-100-hover: var(--primary-300);
    --primary-200-hover: var(--primary-400);
    --primary-300-hover: var(--primary-500);
    --primary-400-hover: var(--primary-600);
    --primary-500-hover: var(--primary-700);
    --primary-600-hover: var(--primary-400);
    --primary-700-hover: var(--primary-500);
    --primary-800-hover: var(--primary-600);
    --primary-900-hover: var(--primary-700);

    --focus-outline: var(--grey-100) dotted 2px;

    --color-transition-time: 0.2s;
    --border-radius: 4px;
}

p,
a,
em,
small,
b,
strong {
    font-size: var(--fs);
    line-height: var(--fs-lh);
    color: var(--grey-400);
    font-weight: 500;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: var(--fs-sm);
    line-height: var(--fs-sm-lh);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
    font-weight: 700;
}

h1 {
    font-size: var(--fs-h1);
    line-height: var(--fs-h1-lh);
}

h2 {
    font-size: var(--fs-h2);
    line-height: var(--fs-h2-lh);
}

h3 {
    font-size: var(--fs-h3);
    line-height: var(--fs-h3-lh);
}

h4 {
    font-size: var(--fs-h4);
    line-height: var(--fs-h4-lh);
}

h5 {
    font-size: var(--fs-h5);
    line-height: var(--fs-h5-lh);
}

h6 {
    font-size: var(--fs-h6);
    line-height: var(--fs-h6-lh);
}

a {
    display: block;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--white);
}

a,
button {
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
    display: block;
}

em {
    font-style: normal;
}

button {
    font-size: var(--fs);
    font-weight: 500;
    background: none;
    border: none;
}
