.shadow-black-darker {
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
}

.shadow-black {
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1500px;
  margin: 0 auto;
}
