html,
#app {
  overflow-x: hidden;
  background-color: var(--grey-800);
  height: 100%;
}

*,
*::before,
*::after {
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;

  --fs: 1em;
  --fs-lh: 27px;

  --fs-md: 1.1875em;
  --fs-md-lh: 30px;

  --fs-lg: 2.25em;
  --fs-lg-lh: 52px;

  --fs-xl: 2.75em;
  --fs-xl-lh: 56px;

  --black: #000;
  --white: #fff;

  --grey-100: #f2f2f2;
  --grey-200: #d9d9d9;
  --grey-300: #bfbfbf;
  --grey-400: #8c8c8c;
  --grey-500: #737373;
  --grey-600: #595959;
  --grey-700: #404040;
  --grey-800: #262626;
  --grey-900: #1a1a1a;

  --primary-100: #e6f3fe;
  --primary-200: #b4dafd;
  --primary-300: #82c1fc;
  --primary-400: #0682f9;
  --primary-500: #0575e0;
  --primary-600: #045bae;
  --primary-700: #03417d;
  --primary-800: #02274b;
  --primary-900: #011a32;
}

p,
a,
em {
  font-size: var(--fs);
  line-height: var(--fs-lh);
  color: var(--grey-400);
  font-weight: 500;
}

h1 {
  font-size: var(--fs-xl);
  line-height: var(--fs-xl-lh);
  color: var(--white);
  font-weight: 900;
}

h2 {
  font-size: var(--fs-lg);
  line-height: var(--fs-lg-lh);
  color: var(--white);
  font-weight: 900;
}

a {
  display: block;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--white);
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
}

em {
  font-style: normal;
}

button {
  font-size: var(--fs);
  background: none;
  border: none;
}
